#import-core {
}

#import-core a {

}

#grid {
  width: 100% !important;
}

#dropzone #drop input {
  border: dashed 2px #9f9f9f;
  padding: 2rem;
  background: #f9f9f9;
  width: -webkit-fill-available;
  margin-bottom: 0.5rem;
}

#chart-core {
  margin-top: 1rem;
}

#table-core {
  margin-top: 1rem;
}

button.btn-space {
  margin-left: 1em;
}
