#prediction {
  border: solid 1rem #eee;
}

#input {
  padding: 1.5rem;
  height: 96vh;
  overflow: auto;
  box-shadow: 0px 0px 20px -11px #797979;
}

#output {
  padding: 1.5rem;
  height: 96vh;
  overflow: auto;
}

.header {
  border-bottom: solid 1px #eee;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.header h4 {
}
